/* Contain shared information of html style tags */ 
@charset "utf-8";

/*
@font-face {
    font-family:IropkeBatangM;
    src:url(/wiki/IropkeBatangM.eot);
    src:url(/wiki/IropkeBatangM.eot?#iefix) format('embedded-opentype'),
        url(/wiki/IropkeBatangM.woff) format('woff');
    src:local(※), url(/wiki/IropkeBatangM.woff) format('woff');
        
    font-style: normal;
}
*/

/* 이롭게 바탕체 import 하기*/
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

body{
    font-family: 'Iropke Batang', serif;
    margin:0;
    color: #555555;
}

h1 {
    font-family: 'Iropke Batang', serif;
    text-align:center;
    margin:0;
    padding:10px;
}

h2, h3, h4, h5, h6, h7 {
    font-family: 'Iropke Batang', serif;
    text-align:center;
    margin:0;
    padding:5px;
}

.indented {
    padding-left: 1.5em;
}

.column-list {
    display: flex;
    justify-content: space-between;
}

.column {
    padding: 0 1em;
}

.column:first-child {
    padding-left: 0;
}

.column:last-child {
    padding-right: 0;
}

a {
    color:#3B79A0;
}

mark {
    background-color: transparent;
}

.code,
code {
    background: rgba(135, 131, 120, 0.15);
    border-radius: 3px;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 90%;
    tab-size: 2;
}

code {
    color: #eb5757;
}

.code {
    padding: 1.5em 1em;
}

.code-wrap {
    white-space: pre-wrap;
    word-break: break-all;
}

.code > code {
    background: none;
    padding: 0;
    font-size: 100%;
    color: inherit;
}

.highlight-gray {
    color: rgb(155,154,151);
}
.highlight-orange {
    color: rgb(217,115,13);
}
.highlight-yellow {
    color: rgb(223,171,1);
}
.highlight-brown {
    color: rgb(100,71,58);
}
.highlight-teal {
    color: rgb(15,123,108);
}
.highlight-blue {
    color: rgb(11,110,153);
}

div {
    margin:20px;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%
}

hr.dotted {
  border-top: 3px dotted #bbb;
}
