/* Contain shared information of html style tags */ 
@charset "utf-8";

@font-face {
    font-family:IropkeBatangM;
    src:url('IropkeBatangM.woff');
    src:local(※),
        url(IropkeBatangM.woff) format('woff'),
        url(IropkeBatangM.eot?#iefix) format('embedded-opentype');
        font-style: normal;
}

body{
    font-family:IropkeBatangM;
    margin:0;
    color: #555555;
    
}

h1 {
    font-family:IropkeBatanfM;
    text-align:center;
    margin:0;
    padding:10px;
}

h2, h3, h4, h5, h6, h7 {
    font-family:IropkeBatangM;
    text-align:center;
    margin:0;
    padding:5px;
}

p {
    font-family:IropkeBatangM;
}


a {
    font-family:IropkeBatangM;
    color:#3B79A0;
}

div {
    font-family:IropkeBatangM;
    margin:20px;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%
}

hr.dotted {
  border-top: 3px dotted #bbb;
}
